* {
   font-family: 'Roboto' , sans-serif;
   box-sizing: border-box;
}

body {
    background-color: white;

}

.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: white;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: auto;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
	
}